@import url('https://fonts.googleapis.com/css?family=Montserrat');
*{
  box-sizing: border-box;
  /*transition-duration: 0.3s;*/
  font-family: "Montserrat";
}


body{
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  height: 800px;
  margin:auto;
}

header {
background-color: black;
box-shadow: 0px 5px 15px #black;
height: 15vw;
}



header h4{
  display: none;
}

header h5{
  position: absolute;
  color: white;
  font-size: 3vw;
  margin-top: 0vh;
  margin-left: 50px;
}

#footer{
  z-index: 1;
}

/* jai du faire trois id pour les icons ca marche pas avec materialize pour le css */
#returnMenu {
  margin-top: 2vw;
  position: absolute;
  font-size: 10vw;
  color: white;
  text-shadow: 3px 3px 10px black;
}

#logOutButton{
  margin-top: 2vw;
  position: absolute;
  font-size: 10vw;
  color: white;
  margin-left: 85vw;
  text-shadow: 3px 3px 10px black;
}

#logOutButtonDT{
  display: none;
}

.currentPage{
  height: 10vw;
  width: 60vw;
  font-size: 5vw;
  padding-top: 4vw;
  margin-left: 22vw;
  color: white;
  overflow: hidden;
}


.HiddenMenu{
  position: absolute;
  display: none;
}

/*  for the drop down log out menu */

#logOutMenu{
  padding: 10vw;
  color: white;
  font-size: 5vw;
  position: fixed;
  height: 100vh;
  width: 95vw;
  margin: auto;
  margin-top: 0vh;
  margin-left: 7vw;
  z-index: 51;
  background: linear-gradient(to left, #111111 , #000000);
  border-left: 2vw outset grey;
  box-shadow: 0vw 2vw 3vw grey;
  overflow-y: scroll;
  overflow-x: hidden;
}
#logOutMenu h1{
  font-size: 8vw;
  text-shadow: 0.5vw 1vw 3vw black;
}

#logOutMenu ul{
  font-size: 5vw;
  margin-left: -1vw;
}
#logOutMenu li{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5vw;
  padding-left: 1vw;
  text-align: center;
  border: 1px solid black;
  margin-top: 40vw;
  margin-bottom: 20vw;
}
#logOutMenu li a{
  color: white;
}
/* for the drop down home menu */
#dropDownOptions{
  color: white;
  padding: 10vw;
  font-size: 5vw;
  position: fixed;
  height: 100vh;
  width: 95vw;
  margin: auto;
  margin-top: 0vh;
  margin-left: -2vw;
  z-index: 50;
  background: linear-gradient(to right, #111111 , #000000);
  border-right: 2vw outset grey;
  box-shadow: 0vw 2vw 3vw grey;
  overflow-y: scroll;
  overflow-x: hidden;
}
#dropDownOptions h1{
  margin-left: 20vw;
  font-size: 8vw;
  text-shadow: 0.5vw 1vw 3vw black;
  margin-bottom: 5vw;
}

#dropDownOptions ul{
  font-size: 5vw;
  margin-left: -1vw;
}
#dropDownOptions li{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5vw;
  padding-left: 1vw;
  text-align: center;
  margin-bottom: 10vw;
}
#dropDownOptions li a{
  color: white;
}

#logOutCloseButton{
  height: 10vw;
  margin-top: 25vw;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  border-radius: 5vw;
  padding-top: 1vw;
  text-align: center;
}

#homeCloseButton{
  height: 10vw;
  margin-top: 25vw;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  border-radius: 5vw;
  padding-top: 1vw;
  text-align: center;
}

#popUpPhoto{
  height: 100%;
  width: 100%;
  margin: 0px;
}
#popUpPhotoDiv{
  position: absolute;
  border: 1px solid darkgrey;
  background-color: darkgrey;
  border-radius: 50%;
  height: 20vw;
  width: 20vw;
  padding: 0px;
  margin-top: 8vw;
  margin-left: -2vw;
  overflow: hidden;
}




/*********** end of header ***************/

.fixed-action-btn{
margin-right: 25vw;
}
.btn-large{
  width: 50vw;
  height: 10vw;
  padding-top: 2vw;
  background-color: green;
  font-size: 3vw;
  border-radius: 2vw;
}

.action-button{
  margin-bottom: 6vw;
  margin-right: 2vw;
  width: 15vw;
  height: 7vw;
  border-top-left-radius: 30%;
  border-bottom-right-radius: 30%;
}

/* error messages */
.errorMessage{
  color: red;
}

/************************************************************************************/


/*** FORM LOGIN*/

#formLogin{
  margin-left: 15%;
  margin-top: 15%;
  font-size: 3vw;
  width: 60%;
  margin: auto;
}



#disabled{
  font-size: 5vw;
  margin-left: 3vw;
  width: 77vw;
}

#email{
  padding-bottom: 0.5vw;
}

#password{
  padding-bottom: 0.5vw;
}

form p{
  padding-left: 1vw;
}

.input-field label{
  margin-bottom: 0.2vw;
}

.button-field button{
  width: 50%;
  border-style: none;
  background-color: #929393;
  color : white;
  border-radius: 25px;
  padding:1vh 2vw 1vh 2vw;
  margin-left: 26%;
  margin-top: 3vw;
}




/*********LISTS *********/
.collapsible{
  font-size: 2.5vw;
  font-weight: 600;
}
#ListButtons button{
  width: 20vw;
}
.collection{
  font-size: 3.5vw;
}
#expand{
  font-size: 15vw;
}


/* user list ***/

#pastilleAdmin{
   font-size: 2.5vw;
   background-color: #0daa22;
   width: 9vw;
   height: 9vw;
   padding-top: 2vw;
   border-radius: 50%;
}
#pastilleManager{
   font-size: 2.5vw;
   background-color: #e08516;
   width: 9vw;
   height: 9vw;
   padding-top: 2vw;
   border-radius: 50%;
}
#pastilleUser{
   font-size: 2.5vw;
   background-color: #c60101;
   width: 9vw;
   height: 9vw;
   padding-top: 2vw;
   border-radius: 50%;
}
#pastilleHR{
   font-size: 2.5vw;
   background-color: #7f0f8e;
   width: 9vw;
   height: 9vw;
   padding-top: 2vw;
   border-radius: 50%;
}

/**** activity list css*/

#activityListDiv{
  margin-left: 10vw;
  font-size: 4vw;
  width: 40vw;
}
#activityListSpan{
  font-size: 2.5vw;

}


#userPhotoDiv{
border: 1px solid darkgrey;
background-color: darkgrey;
border-radius: 50%;
height: 10vw;
width: 10vw;
padding: 0px;
margin-right: 1vw;
overflow: hidden;
}
#userPhoto{
  height: 100%;
  width: 100%;
  margin: 0px;
}

#alexButton{
  color: white;
  height: 50%;
  width: 20vw;
  margin-right: -2vw;
  padding-top: 0.5vw;
  border-radius: 25px;
  margin-left: 8vw;
  margin-top: 7vw;
}
#alexButton a{
  color: white;
  font-size: 3.5vw;
}

/*** HOME PAGE ***/

ul {
  margin-left: 6vw;
  font-size: 1.5vw;
  margin-top: 4vw;
}

li{
  margin-bottom: 1rem;
}

div .button-field button{
  background-color: #00D646;
  margin-right: 2vh;
}

input+label{
  margin : 1vh 5vw;
}

#homelist a{
  color : black;
  font-size: 4vh;
  margin-left: 1vh
}

/*#homelist a i{
  font-size: 3vh;
  padding: 0.5vh;
  margin-top: 3vh;
}*/

#homelist i{
 color : black;
  font-size: 5vh;
}

#homelist ul {
   margin-top: -10vw;
  margin-left: 9vh;
 }

#homelist li{
  margin-top: 7vw;
}

/***MY PROFILE *************/

#PhotoMyProfileDiv{
  position: absolute;
  border: 1px solid darkgrey;
  background-color: darkgrey;
  border-radius: 50%;
  height: 30vw;
  width: 30vw;
  padding: 0px;
  margin-top: 8vw;
  margin-left: 7vw;
  overflow: hidden;
}

#PhotoMyProfile{
  height: 100%;
  width: 100%;
  margin: 0px;
}

#PhotoMyProfile p h6{
    font-size: 2rem;
}

#profileActivities{
    margin-top: 43vw;
    margin-left: 4vh;
    font-size: 4vh;
}

#profileActivities p span{
    font-style: italic;
}

h2.header{
  margin-top: 13vw;
}

/******CRITERIA LIST********/
#criteriaForm form{
  width: 70%;
  margin-left: 3vw;
}

/*******FOOTER ************/
.footer-copyright{
  background-color: #0b0b0b;
  text-align: center;
  color: white;
  /*top: 100%;*/
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3vh;
  font-size: 2vh;
  }
  #logoMain{
  margin-left: 25vw;
  height: 50vw;
  width: 50vw;
  }



@media screen and (max-width: 800px) {
#nav{
  display: none;
}

}
@media screen and (min-width: 800px) {


  /***header***/
  #logoMain{
    display : none;
  }
  #returnMenu{
    display: none;
  }
  #header{
    display: none;
  }

  #headerPhoto{
    width: 5%;
    height: 5%;
  }

  #logOutButton {
    display: none;
  }

  #logOutButtonDT {
    position: absolute;
    display: block;
    margin-top: -3.5vw;
    margin-left: 35vw;
    font-size: 4vw;
    color: white;
  }

  #logoHomepage {
    position: absolute;
    margin-top: 10px;
    width: 50px;
  }
  #nav div ul li a:hover{
    background-color: white;
    color: black;
  }
  #nav div ul li{
    margin-right: 3vw;
  }

  #serpicoNav{
    margin-left: 100px;
    margin-top: -50px;
  }


  header h4 {
    display: block;
    font-size: 3vw;
    margin-top: -140px;
    margin-left: 80px;
    color: white;
  }

  header h5 {
    display: none;
  }


  #headerMenuDT {
  margin-top: -8vw;
  margin-left: 200px;

  }

  #headerMenuDT ul li{
    display: inline;
    padding-right: 10vw;
    font-size: 3vw;
    padding-left: 1vw;
    color: grey;
  }
  #headerMenuDT ul li:hover{
    background-color: rgba(255, 0, 0, 0.5);
  }


  .headerli{

  }
  /*** fin du header DT */

  /***RESULT PAGE*****/
  .result-title{
    text-align: center;
  }

  /***HOMEPAGE***/




  #homelist{
    margin-top: 20vw;
  }
  #homelist ul li {
    margin-top: 5vw;
  }

  .currentPage{
display: none;
  }

  /***MY PROFILE****/

    #profileActivities{
        margin-top: 30vw;
        margin-left: 14vh;
        font-size: 4vh;
    }

    #PhotoMyProfileDiv{
        position: absolute;
        border: 1px solid darkgrey;
        background-color: darkgrey;
        border-radius: 50%;
        height: 15vw;
        width: 15vw;
        padding: 0px;
        margin-top: 8vw;
        margin-left: 7vw;
        overflow: hidden;
    }

    #PhotoMyProfile h6{
      font-size: 3vh;
    }
   /***ACTIVITY MODIFY****/
   /* user list DT changes*/
   #pastilleAdmin{
      padding-top: 3.5vw;
   }
   #pastilleManager{
      padding-top: 3.5vw;
   }
   #pastilleUser{
     padding-top: 3.5vw;
   }
   #pastilleHR{
    padding-top: 3.5vw;
   }
   /* activity list DT changes*/
   #gradeBadge{
     padding-top: 2vw;
     width: 16vw;
     font-size: 2vw;
   }

}
