{% extends "layout.html.twig" %}

{% block title %}
Login
{% endblock %}

{% block pagename %}
Login
{% endblock %}

{% block content %}

      <main id="mainHomepage">
        <div class="container">
          <div class="col s12" id="hometext">
            <div id="section">
              <!--<span class="flow-text"> <h1>Serpico</h1></span>-->
              <img src="{{ asset('lib/img/logo.png')}}" width="20%">
              <p>The collaborative evaluation solution</p>
            </div>
          </div>
        </div>
        <div class="col s12" id="donot">
          <p>DO NOT SIMPLY ENGAGE PEOPLE,<p>
          <p>MAKE THEM INFLUENCERS TO GET THEIR BEST</p>
        </div>
        <div>
        </div>



  <form id="formLogin" action="{{ path('admin_login_check') }}" method="post" class="col s10">
      {{ error }}
    <div class="input-field col s10">
      <input type="text" name="_username" value="{{ last_username }}" />
    </div>
    <div class="input-field col s10">
      <input type="password" name="_password" value="" />
    </div>
    <!--<div class="button-field col s10">
      <input type="submit" />
      <input type="hidden" name="_target_path" value="home" />
    </div>-->
    <button class="btn waves-effect waves-light" type="submit" name="_target_path" value="home">Sign in

    </button>
  </form>
  </main>

{% endblock %}
