<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Serpico for Desktop</title>
    <!-- CSS custom -->
    <link href="../web/css/test.css" rel="stylesheet" type="text/css">
    <!-- CSS Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- CSS JQuery UI-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
    <!-- Materialize icons  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
    <header>
                <nav>
                    <div class="nav-wrapper black" >
                        <a href="#" class="brand-logo">Serpico</a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a href="sass.html">Logout</a></li>
                            <li><a href="badges.html">The team</a></li>
                        </ul>
                    </div>
                </nav>
    </header>
    <main id="aboutpage">
        <div class="row">
            <div class="col s12">
                <h2>About Serpico</h2>
            </div>
            <div class="col s6">
                <h3>Value proposition</h3>
                <ul>
                    <li>ENHANCED 360 EVALUATION</li>
                    <li>POSSIBILITY TO GRADE REGULAR TASKS AND PROJECTS</li>
                    <li>HR ANALYTICS & FOLLOW-UP</li>
                    <li>EMPLOYEE RECOGNITION & CONSIDERATION</li>
                </ul>
            </div>
            <div class="col s6">
                <img id="img1about" src="../web/lib/img/stock.jpg" width="100%" height="10%"/>
            </div>
             <div class="col s6">
                <img id="img1about" src="../web/lib/img/capture.png" width="100%" height="10%"/>
            </div>
            <div class="col s6">
                <h3>Three kinds of users</h3>
                <ul>
                    <li>HR Resources</li>
                    <li>Activity leaders</li>
                    <li>Collaborators</li>
                </ul>
            </div>
        </div>
        <div class="row">
             <div class="col s6">
                <h3>Grades & Results</h3>
                <ul>
                    <li>Can be a new / integrated indicator into an
                        existing grading method</li>
                    <li>Can integrate more sophisticated quoting
                        concepts (legitimacy, bonus/penalties...)</li>

                </ul>
            </div>
            <div class="col s6">
                <img id="img1about" src="../web/lib/img/grade.jpg" width="100%" height="10%"/>
            </div>
            <div class="col s6">
                <img id="img1about" src="../web/lib/img/market.jpg" width="100%" height="10%"/>
            </div>
            <div class="col s6">
                <h3>Market study : an actual & provend trend</h3>
                <ul>
                    <li>13 HR Directors met (banking, industry &
                        construction leaders)</li>
                    <li>Out of the 70 % interested (9/13), they gave a 7,5
                        out of 10 grade on the benefit they could retrieve
                        with Serpico.</li>
                    <li>Ready to commit financially</li>
                </ul>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-copyright">
            <div class="container">
                © <script type="text/javascript">document.write(new Date().getFullYear());</script> Copyright Team GALA
            </div>
        </div>
    </footer>
</body>
</html>